{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [ "last 2 versions" ],
        },
        "useBuiltIns": "usage"

      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/proposal-decorators" , { "legacy": true }],
    "@babel/proposal-class-properties"
  ]
}
